################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/dblib/.vs/dblib.slnx
/Database/dblib/.vs
/Database/dblib/.vs
/Database/dblib/.vs/dblib
/Database/dblib/.vs/dblib/CopilotIndices/18.4.119.15876
Database/dblib/.vs/dblib/CopilotIndices/18.4.119.15876/CodeChunks.db
