################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/dblib/.vs/dblib.slnx
/Database/dblib/.vs
/Database/dblib/.vs
/Database/dblib/.vs/dblib
/Database/dblib/.vs/dblib/CopilotIndices/18.4.119.15876
Database/dblib/.vs/dblib/CopilotIndices/18.4.119.15876/CodeChunks.db
/AI_JobFinder/.vs
/AI_JobFinder/packages/Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn.1.8.1.8
/packages/Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn.1.8.1.8
/Database/dblib/dblib/x64/Debug
/Database/dblib/x64/Debug
/.vs/AI_JobFinder.slnx
.vs/AI_JobFinder/CopilotIndices/18.5.39187.10602/CodeChunks.db
.vs/AI_JobFinder/CopilotIndices/18.5.39187.10602/CodeChunks.db-shm
.vs/AI_JobFinder/CopilotIndices/18.5.39187.10602/CodeChunks.db-wal
.vs/AI_JobFinder/CopilotIndices/18.5.39187.10602/SemanticSymbols.db
.vs/AI_JobFinder/CopilotIndices/18.5.39187.10602/SemanticSymbols.db-shm
.vs/AI_JobFinder/CopilotIndices/18.5.39187.10602/SemanticSymbols.db-wal
/.vs
/x64
/x64
*.dll
*.lib
*.pdb
*.idb
*.obj
*.tlog
*.tlog
*.tlog
*.pch
*.log
*.ilk
*.obj
/Tests/dblib_test/x64/Debug/dblib_test.tlog/link.read.1.tlog
/Tests/dblib_test/x64/Debug/dblib_test.tlog/link.command.1.tlog
/Tests/dblib_test/x64/Debug/dblib_test.ilk
/Tests/dblib_test/x64/Debug/dblib_test.log
/x64/Debug/dblib_test.dll
/x64/Debug/dblib_test.pdb
/.vs
/.vs/AI_JobFinder/CopilotIndices/18.5.39187.10602/CodeChunks.db
/.vs/AI_JobFinder/CopilotIndices/18.5.39187.10602/SemanticSymbols.db
/Bin/dblib.dll
/x64/Debug/dblib.dll
/x64/Debug/dblib.pdb
